/* Ukrycie elementu input do przesyłania plików */
#fileInput {
  display: none;
}

/* Ukrycie wskaźnika ładowania przy starcie */
#loading {
  display: none;
}

/* Ustawienie tabeli, aby jej szerokość była 100% oraz kolumny automatycznie dopasowywały się do zawartości */
table {
  table-layout: auto;
  width: 100%;
}

/* Pełna szerokość kontenera */
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

/* Styl przycisku zmiany stylu – kwadratowy, 40x40px */
.theme-toggle-btn {
  background-color: #9b8d8a5 !important; /* przykładowy kolor */
  color: #9b8d8a5 !important;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styl przycisku plus w nagłówku karty "Dane programu" */
.plus-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28a745;
  color: #fff;
}

/* Pasek na górze strony – korzysta z klasy card-header, więc odziedziczy jej kolor oraz padding */
.top-bar {
  height: 50px;           /* zwiększona wysokość paska */
  width: 100%;
  padding: 0 20px;        /* możesz dostosować padding, aby pasek był "szerszy" */
  display: flex;
  align-items: center;
  padding: 0 15px;
}

input[type="checkbox"].detailCheckbox {
  accent-color: #28a745; /* zielony kolor, możesz dostosować */
}

/* Ustaw stałą wysokość dla wierszy tabeli */
#detailsTableBody tr {
  height: 80px;
}

/* Obrazki wewnątrz tabeli: maksymalna wysokość 80px, zachowanie proporcji */
#detailsTableBody img {
  max-height: 80px;
  width: auto;      /* zachowaj proporcje */
  object-fit: contain;
}